<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{'SIGN_IN.ENTER_TO_APP' | translate }}</p>
      <button class="delete" aria-label="close" (click)="close()"></button>
    </header>

    <section class="modal-card-body">

      <form (ngSubmit)="submitForm()" #signInForm="ngForm">
        <div class="field">
          <label class="label" for="login">{{'SIGN_IN.LOGIN' | translate }}</label>
          <div class="control">
            <input class="input" type="text" id="login" name="login" [(ngModel)]="login" #loginInput="ngModel" required
                   minlength="6" maxlength="45">
            <div class="help is-danger" *ngIf="loginInput.invalid && (loginInput.dirty || loginInput.touched)">

              <div *ngIf="loginInput.errors.required">
                {{'SIGN_IN.LOGIN_REQUIRED' | translate }}
              </div>

              <div *ngIf="loginInput.errors.minlength">
                {{'SIGN_IN.LOGIN_HAS_MORE_THEN_SIX_SYMBOLS' | translate }}
              </div>

            </div>
          </div>
        </div>

        <div class="field">
          <label class="label" for="password">{{'SIGN_IN.PASSWORD' | translate }}</label>
          <div class="control">
            <input class="input" type="password" id="password" name="password" [(ngModel)]="password"
                   #passwordInput="ngModel" required>
            <div class="help is-danger" *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">

              <div *ngIf="passwordInput.errors.required">
                {{'SIGN_IN.PASSWORD_REQUIRED' | translate }}
              </div>

              <div *ngIf="passwordInput.errors.minlength">
                {{'SIGN_IN.PASSWORD_LENGTH' | translate }}
              </div>

            </div>
          </div>
        </div>

        <div class="control has-text-centered">
          <button class="button is-success" [disabled]="signInForm.invalid">{{'HEADER.SIGN_IN' | translate }}</button>
        </div>

      </form>

      <section class="section is-info">
        <div class="container">
          <h4 class="subtitle">
            {{'SIGN_IN.NEED_ACCOUNT' | translate }} <a
            (click)="redirectToSignUpPage()">{{'SIGN_IN.CREATE_ACCOUNT' | translate }}</a>
          </h4>
        </div>
      </section>

    </section>

    <footer class="modal-card-foot">
      <button class="button" (click)="close()">{{'SIGN_IN.CANCEL' | translate }}</button>
    </footer>
  </div>
</div>
