<div class="columns">
  <app-adminpanel></app-adminpanel>

  <div class="column">

    <div class="box">

      <section class="section">

        <div class="container">

          <div class="buttons">
            <button class="button is-link" (click)="showAddForm()">{{addFormFlag ? 'Close' : 'Add role'}}</button>
            <button class="button is-link"
                    (click)="showUpdateForm()">{{updateFormFlag ? 'Close' : 'Update role'}}</button>
            <button class="button is-link"
                    (click)="showAllRoles()">{{showAllRolesFlag ? 'Close' : 'Show all roles'}}</button>
          </div>

          <!-- Update form -->
          <mat-form-field *ngIf="updateFormFlag">
            <label for="selectRoles">{{'ROLE.CHOOSE_ROLE' | translate }}</label>
            <select matNativeControl [(ngModel)]="selectedRoleTitle" id="selectRoles" (change)="showInfo()">
              <option value="" selected></option>
              <option *ngFor="let role of roles | async">
                {{role.title}}
              </option>
            </select>
          </mat-form-field>

          <form *ngIf="selectedRoleTitle" (ngSubmit)="updateInfo()" #updateForm="ngForm">
            <div class="field">
              <label class="label" for="title">{{'ROLE.TITLE' | translate }}</label>
              <div class="control">
                <input class="input" type="text" id="title" name="title" [(ngModel)]="role.title"
                       [value]="selectedRoleTitle"
                       required minlength="5" maxlength="45">
              </div>
            </div>

            <div class="field">
              <label class="label" for="symbol">{{'ROLE.SYMBOL' | translate }}</label>
              <div class="control">
                <input class="input" type="text" id="symbol" name="symbol" [(ngModel)]="role.symbol"
                       [value]="role.symbol"
                       required minlength="0" maxlength="45">
              </div>
            </div>

            <div class="field">
              <label class="label" for="description">{{'GENERAL.DESCRIPTION' | translate }}</label>
              <div class="control">
              <textarea class="textarea" id="description" name="description" placeholder="Write your message"
                        [(ngModel)]="role.description" [value]="role.description" minlength="0"
                        maxlength="250"></textarea>
              </div>
            </div>

            <div class="control has-text-centered">
              <button class="button is-large is-primary"
                      [disabled]="updateForm.invalid">{{'GENERAL.CHANGE' | translate }}</button>
            </div>

          </form>

          <!-- Add form -->
          <form *ngIf="addFormFlag" (ngSubmit)="addRole()" #addForm="ngForm">

            <div class="field">
              <label class="label" for="addTitle">{{'ROLE.TITLE' | translate }}</label>
              <div class="control">
                <input class="input" type="text" id="addTitle" name="title" [(ngModel)]="roleTitle" required
                       minlength="5"
                       maxlength="45">
              </div>
            </div>

            <div class="field">
              <label class="label" for="addSymbol">{{'ROLE.SYMBOL' | translate }}</label>
              <div class="control">
                <input class="input" type="text" id="addSymbol" name="symbol" [(ngModel)]="roleSymbol"
                       required minlength="1" maxlength="45">
              </div>
            </div>

            <div class="field">
              <label class="label" for="addDescription">{{'GENERAL.DESCRIPTION' | translate }}</label>
              <div class="control">
              <textarea class="textarea" id="addDescription" name="description" placeholder="Write your message"
                        [(ngModel)]="description" minlength="0" maxlength="250"></textarea>
              </div>
            </div>

            <div class="control has-text-centered">
              <button class="button is-large is-primary"
                      [disabled]="addForm.invalid">{{'ROLE.ADD_ROLE' | translate }}</button>
            </div>

          </form>

          <!-- All roles info -->
          <table class="table" *ngIf="showAllRolesFlag">
            <thead>
            <tr>
              <th>{{'WORK_LOG.CODE'| translate}}</th>
              <th>{{'ROLE.TITLE' | translate }}</th>
              <th>{{'ROLE.SYMBOL' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let role of roles | async">
              <td>{{role.id}}</td>
              <td>{{role.title}}</td>
              <td>{{role.symbol}}</td>
            </tr>
            </tbody>
          </table>

        </div>

      </section>

    </div>

  </div>

</div>
