<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h2 class="title has-text-centered">
        Sign up
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">

    <form (ngSubmit)="submitForm()" #signUpForm="ngForm">

      <div class="field">
        <label class="label" for="firstName">First name</label>
        <div class="control">
          <input class="input" type="text" id="firstName" name="firstName" [(ngModel)]="firstName"
                 #firstNameInput="ngModel" required minlength="3" maxlength="40">

          <div class="help is-danger"
               *ngIf="firstNameInput.invalid && (firstNameInput.dirty || firstNameInput.touched)">

            <div *ngIf="firstNameInput.errors.required">
              Your first name is required.
            </div>

            <div *ngIf="firstNameInput.errors.minlength">
              First name must be at least 3 characters long.
            </div>

          </div>


        </div>
      </div>

      <div class="field">
        <label class="label" for="lastName">Last name</label>
        <div class="control">
          <input class="input" type="text" id="lastName" name="lastName" [(ngModel)]="lastName" #lastNameInput="ngModel"
                 required minlength="3" maxlength="40">

          <div class="help is-danger" *ngIf="lastNameInput.invalid && (lastNameInput.dirty || lastNameInput.touched)">

            <div *ngIf="lastNameInput.errors.required">
              Your last name is required.
            </div>

            <div *ngIf="lastNameInput.errors.minlength">
              Last name must be at least 3 characters long.
            </div>

          </div>

        </div>
      </div>

      <div class="field">
        <label class="label" for="login">Login</label>
        <div class="control">
          <input class="input" type="text" id="login" name="login" [(ngModel)]="login" #loginInput="ngModel" required
                 minlength="6" maxlength="45">

          <div class="help is-danger" *ngIf="loginInput.invalid && (loginInput.dirty || loginInput.touched)">

            <div *ngIf="loginInput.errors.required">
              Your login is required.
            </div>

            <div *ngIf="loginInput.errors.minlength">
              Login must be at least 6 characters long.
            </div>

          </div>

        </div>
      </div>

      <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control">
          <input class="input" type="email" id="email" name="email" [(ngModel)]="email" #emailInput="ngModel" required
                 email maxlength="100">
          <div class="help is-danger" *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">

            <div *ngIf="emailInput.errors.required">
              Your email is invalid and needs to be an email.
            </div>

          </div>
        </div>
      </div>

      <div class="field">
        <label class="label" for="password">Password</label>
        <div class="control">
          <input class="input" type="password" id="password" name="password" [(ngModel)]="password"
                 #passwordInput="ngModel" required minlength="8" maxlength="45">
          <div class="help is-danger" *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">

            <div *ngIf="passwordInput.errors.required">
              Your password is required.
            </div>

            <div *ngIf="passwordInput.errors.minlength">
              Password must be at least 8 characters long.
            </div>

          </div>
        </div>
      </div>

      <div class="field">
        <label class="label" for="repeatPassword">Repeat password</label>
        <div class="control">
          <input class="input" type="password" id="repeatPassword" name="repeatPassword" [(ngModel)]="repeatPassword"
                 #repeatPasswordInput="ngModel" required minlength="8" maxlength="45">
          <div class="help is-danger"
               *ngIf="repeatPasswordInput.invalid && (passwordInput.dirty || passwordInput.touched) && repeatPasswordInput != passwordInput">

            <div *ngIf="passwordInput.errors.required">
              Your repeat password is required.
            </div>

            <div *ngIf="passwordInput.errors.minlength">
              Repeat password must be at least 8 characters long.
            </div>

            <div *ngIf="repeatPasswordInput != passwordInput">
              Your repeat password is not equal password.
            </div>

          </div>
        </div>
      </div>

      <div class="control has-text-centered">
        <button class="button is-large is-primary" [disabled]="signUpForm.invalid">Sign up</button>
      </div>

    </form>

  </div>
</section>
