<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="https://image.flaticon.com/icons/svg/1037/1037503.svg" alt="Factory">
    </a>

    <a role="button" (click)="toggleNavbar()" #navBurger class="navbar-burger burger" aria-label="menu"
       aria-expanded="false"
       data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" #navMenu>
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/">{{'HEADER.HOME' | translate }}</a>
      <a class="navbar-item" routerLink="/contact" *ngIf="!authorizeFlag">{{'HEADER.CONTACT' | translate }}</a>
      <a class="navbar-item" routerLink="/profile" *ngIf="authorizeFlag">{{'HEADER.PROFILE' | translate }}</a>
      <a class="navbar-item" routerLink="/filter/work/log"
         *ngIf="authorizeFlag">{{'HEADER.FILTER_WORK_LOG' | translate }}</a>
      <a class="navbar-item" routerLink="/user/schedule" *ngIf="authorizeFlag">{{'HEADER.SCHEDULE' | translate }}</a>
      <a class="navbar-item" routerLink="/admin/panel" *ngIf="adminPanelFlag">{{'HEADER.ADMIN_PANEL' | translate }}</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">

        <div class="select is-rounded">

          <select #langSelect (change)="changeLang(langSelect.value)" class="is-focused">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang"
                    [selected]="lang === translate.currentLang">{{ lang }}</option>
          </select>

        </div>

        <div class="buttons" *ngIf="authorizeFlag">
          <button class="button is-light" (click)="signOut()">{{'HEADER.SIGN_OUT' | translate }}</button>
        </div>
        <div class="buttons" *ngIf="!authorizeFlag">
          <button class="button is-light" (click)="showSignInForm()">{{'HEADER.SIGN_IN' | translate }}</button>
          <app-signin *ngIf="showSignInFormFlag" (closeForm)="showSignInFormFlag=false"></app-signin>
          <a class="button is-success" routerLink="/join">
            <strong>{{'HEADER.SIGN_UP' | translate }}</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
