<div class="column">
  <nav class="menu">
    <p class="menu-label">
      Admin panel
    </p>
    <ul class="menu-list">
      <li><a routerLink="/admin/panel/roles">{{'ROLE.ROLE' | translate }}</a></li>
      <li><a routerLink="/admin/panel/schedule">{{'SCHEDULE.SCHEDULE' | translate }}</a></li>
      <li><a routerLink="/admin/panel/users">{{'USER.USER' | translate}}</a></li>
      <li><a routerLink="/admin/panel/filter">{{'FILTER.FILTER' | translate}}</a></li>
      <li><a routerLink="/admin/panel/chemical/substances">Chemical Substances</a></li>
    </ul>
  </nav>
</div>
